@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-manrope);
}

:root {
  --background: #112217;
  /* background-dark */
  --foreground: #ffffff;
  --card: #1c3324;
  /* surface-dark */
  --primary: #13ec5b;
  /* primary green */
  --secondary: #23482f;
  /* surface-border */
  --surface: #1c3324;
  --text-secondary: #92c9a4;
  --font-manrope: var(--font-manrope);
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}